@model PagedList.IPagedList<Medvice.Models.Disease>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Болезни";
}
<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
        <!-- Slider -->
        <section id="slider" class="clear">
            <figure>
                <img src="/images/630x300.png" alt="">
                <figcaption>
                    <h2>Шопэнгауэр Артур</h2>
                    <p>Здоровье до того перевешивает все остальные блага жизни, что поистине здоровый нищий счастливее больного короля.</p>

                </figcaption>
            </figure>
        </section>
        <!-- main content -->
        <div id="intro" class="row">
            <section class="clear">
                <div class="col-md-12">
                    @foreach (var x in Model)
                    {
                        <div class="col col-md-12">
                            <article style="margin-bottom: 5%">
                                <h2>@Html.ActionLink(x.Name, "DiseaseView", new { Id = x.DiseaseId })</h2>
                                <p>@x.Description</p>
                            </article>
                            <div class="col-md-12">
                                <div class="col-md-offset-8">
                                    <p>Симптомы: </p>
                                </div>
                            </div>
                            <hr />
                        </div>

                    }
                </div>

            </section>
        </div>
        Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("Diseases", new { page }))
    </div>
    <!-- ########################################################################################## -->
    <!-- ########################################################################################## -->
    <!-- ########################################################################################## -->
    <!-- ########################################################################################## -->
    <!-- / content body -->
    
</div>
</div>
