@{
    ViewBag.Title = "Home Page";
}
<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
        <!-- Slider -->
        <section id="slider" class="clear">
            <figure>
                <img src="/images/630x300.png" alt="">
                <figcaption>
                    <h2>Eu justo augue estas</h2>
                    <p>Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna. Urnaultrices quis curabitur phasellentesque congue magnis vestibulum quismodo nulla et feugiat adipiscinia pellentum leo.</p>

                </figcaption>
            </figure>
        </section>
        <!-- main content -->
        <div id="intro">
            <section class="clear">                
                @{
                    <h1 style="margin-left: -5%"><b>@Html.ActionLink("Болезни", "Diseases", "Home"):</b></h1>
                    <br />
                    <br />
                    <br />
                    int k = 0;
                    foreach (var x in ViewBag.Diseases)
                    {
                        if (k == 3)
                        {
                            break;
                        }
                        <div>
                            
                            <article>
                                <a href="@Url.Action("DiseaseView", "Home", new { Id = x.DiseaseId})"><h1>@x.Name</h1></a>                                
                                <p>@x.ShortDescription</p>
                            </article>
                            <hr />
                        </div>
                        k++;
                    }
                    <h1 style="margin-left: -5%"><b>@Html.ActionLink("Симптомы", "Simpotom", "Home"):</b></h1>
                    <br />
                    <br />
                    <br />
                    k = 0;
                    foreach (var z in ViewBag.Simpotoms)
                    {
                        if (k == 3)
                        {
                            break;
                        }
                        <div>
                            <article>
                                <a href="@Url.Action("SimpotomView", "Home", new { Id = z.SimpotomId})"><h1>@z.Name</h1></a>    
                                <p>@z.ShortDescription</p>
                            </article>
                            <hr />
                        </div>
                        k++;
                    }
                    <h1 style="margin-left: -5%"><b>@Html.ActionLink("Медикаменты", "Medicine", "Home"):</b></h1>
                    <br />
                    <br />
                    <br />
                    <h1>Пока ничего :3</h1>
                }
            </section>
        </div>
        <!-- ########################################################################################## -->
        <!-- ########################################################################################## -->
        <!-- ########################################################################################## -->
        <!-- ########################################################################################## -->
        <!-- / content body -->
    </div>
</div>
