<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="wrapper row1">
        <header id="header" class="clear">
            <div id="hgroup">
                <h1>@Html.ActionLink("Medvice", "Index", "Home")</h1>
                <h2>Медицина онлайн - сегодняшняя реальность</h2>
            </div>
            <form action="#" method="post">
                <fieldset>
                    <legend>Search:</legend>
                    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                    {
                    <input type="text" name="searchWord"value="Search Our Website&hellip;" onFocus="this.value=(this.value=='Search Our Website&hellip;')? '' : this.value ;">
                    <input type="submit" id="sf_submit" value="submit">
                    }
                </fieldset>
            </form>
            <nav>
                <ul>
                    <li>@Html.ActionLink("Домашняя страница", "Index", "Home")</li>
                    <li>@Html.ActionLink("Симпотомы", "Simpotom", "Home")</li>
                    <li>@Html.ActionLink("Болезни", "Diseases", "Home")</li>
                    <li>@Html.ActionLink("Симпотомы", "Simpotom", "Home")</li>
                </ul>
            </nav>
        </header>
    </div>

    <!-- Footer -->

    <div>
        @RenderBody()
    </div>
    <div class="wrapper row3">
        <footer id="footer" class="clear">
            <p class="fl_left">Copyright &copy; 2012 - All Rights Reserved - <a href="#">Domain Name</a></p>
            <p class="fl_right">Template by <a href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
        </footer>
    </div>
</body>
</html>
